<!-- <div class="row">
  <div class="col-xs-6">
    <div class="restaurant-details" data-name="<%= @modal_content.name %>" data-rank="<%= @modal_content.global_rank %>" data-name="<%= @modal_content.address %>">
      <h2 class="restaurant-header">Restaurant name</h2>
      <p class="restaurant-description">Restaurant description</p>
    </div>
  </div>
</div>
 -->
<div class="menu-list" data-name="<%= @modal_content.name %>" data-rank="<%= @modal_content.global_rank %>">
  <div class="menu-categories">
    <div class="menu-categories-vendor-logo">
      <img class="menu-categories-vendor-logo-img" src="<%= @modal_content.logo_url %>">
    </div>
    <div class="menu-categories-list-wrapper">
      <ul>
        <% @menu.each do |key, value|%>
          <li><a href="#burgers" class="menu-categories-list-item anchor-navigation"><%= key %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
  <section class="menu-items-wrapper">
    <div class="menu-items">
      <% @menu.each do |key, value|%>
        <div class="dish-category-header">
          <h2 class="dish-category-title text-center" id="burgers"><%= key %></h2>
        </div>
        <div class="dish-list">
          <% value.each do |dish|%>
            <li>
              <div class="dish-card hvr-shadow-radial">
                <div class="dish-info">
                  <h3 class="dish-name"><%= dish[:name] %></h3>
                  <p class="dish-description"><%= dish[:description] %></p>
                </div>
                <footer class="dish-price">
                  <span class="price p-price"><%= dish[:price] %></span>
                </footer>
              </div>
            </li>
          <% end %>
        </div>
      <% end %>


