<div class="container" id="restaurants-list">
<div class="row">
    <div class="col-xs-12 text-center">
      <h2>Make your choice !</h2>



      <div class="col-xs-6">
        <%= simple_form_for :selection do |f| %>
          <%= f.input :food_type_1, collection: food_types, selected: params[:food_type_1], label: false %>
        <% end %>
        <input type="hidden" id="food_type_1" value="<%= params[:food_type_1] %>">
      </div>



      <div class="col-xs-6">
        <%= simple_form_for :selection do |f| %>
          <%= f.input :food_type_2, collection: food_types, selected: params[:food_type_2], label: false %>
        <% end %>
          <input type="hidden" id="food_type_2" value="<%= params[:food_type_2] %>">

      </div>
    </div>
  </div>
  <div class="row">
  <div class="step step-1">
    <div class="step-label">
      <p>15-25</p>
    </div>
    <div class="row">
      <div class="col-xs-6 left">


      </div>
      <div class="col-xs-6 right">

      </div>
    </div>
  </div>

  <div class="step step-2">
    <div class="step-label">
      <p>25-35</p>
    </div>
    <div class="row">
      <div class="col-xs-6 left">


      </div>
      <div class="col-xs-6 right">

      </div>
    </div>
  </div>

  <div class="step step-3">
    <div class="step-label">
      <p>35-45</p>
    </div>
    <div class="row">
      <div class="col-xs-6 left">


      </div>
      <div class="col-xs-6 right">

      </div>
    </div>
  </div>
  </div>
</div>
