  <form action="<%= menus_path %>" method="post" id="restaurants-form">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <div class="navbar-wagon navbar-wagon-fixed index-page">
      <!-- Logo -->
      <%= link_to root_path, class: "navbar-wagon-brand" do %>
        <%= image_tag "logo1.png" %>
      <% end %>

      <!-- Food types - fixed -->
      <div class="select-food-type">
        <div class="form-group select form-inline">
          <div class="header-wrapper">
            <%= select_tag "food_type_1", options_for_select(food_types, params[:food_type_1]), class: 'form-control select', id: "selection_food_type_1" %>
            <div class="header-left text-center"></div>
            </div>
            <b class="and-together"><strong>&</strong></b>
            <div class="header-wrapper">
            <%= select_tag "food_type_2", options_for_select(food_types, params[:food_type_2]), class: 'form-control select', id: "selection_food_type_2" %>
            <div class="header-right text-center"></div>
            </div>
    <!--         <strong>together !</strong> -->
        </div>
  <!-- </div> -->
      </div>
    </div>

    <div class="container" id="restaurants-list">
      <div class="row">
        <div class="col-xs-12 text-center" id="index-title">
          <div class="col-xs-6">

            <!-- <div class="header-left"></div> -->
          </div>

          <div class="col-xs-6">

            <!-- <div class="header-right"></div> -->
          </div>
        </div>
      </div>

      <div class="row">

        <div class="step step-1">
          <div class="step-label">
            <p class="text-center">15-25 mn</p>
          </div>

          <div class="row">
            <div class="col-xs-6">
              <%= render 'restaurant_placeholder', position: "1-left", place: "left" %>
              <div class="left"></div>
            </div>

            <div class="col-xs-6">
              <%= render 'restaurant_placeholder', position: "1-right", place: "right" %>
              <div class="right"></div>
            </div>
          </div>
        </div>

        <div class="step step-2">
          <div class="step-label">
            <p class="text-center">25-35 mn</p>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <%= render 'restaurant_placeholder', position: "2-left", place: "left" %>
              <div class="left"></div>
            </div>

            <div class="col-xs-6">
              <%= render 'restaurant_placeholder', position: "2-right", place: "right" %>
              <div class="right"></div>

            </div>
          </div>
        </div>

        <div class="step step-3">
          <div class="step-label">
            <p class="text-center">35-45 mn</p>
          </div>
          <div class="row">
           <div class="col-xs-6">

            <%= render 'restaurant_placeholder', position: "3-left", place: "left" %>
            <div class="left"></div>

          </div>
          <div class="col-xs-6">
            <%= render 'restaurant_placeholder', position: "3-right", place: "right" %>
            <div class="right"></div>

          </div>
        </div>
      </div>
      <div id="show-submit">
        <div class="relativeness">
          <input type="submit" value="See the menus !" class="btn btn-primary btn-lg eat" id="button-eat">
        </div>
      </div>

    </div>
  </div>
</form>

<div class="menu-animation-wrapper">
  <div class="sk-circle">
    <div class="sk-circle1 sk-child"></div>
    <div class="sk-circle2 sk-child"></div>
    <div class="sk-circle3 sk-child"></div>
    <div class="sk-circle4 sk-child"></div>
    <div class="sk-circle5 sk-child"></div>
    <div class="sk-circle6 sk-child"></div>
    <div class="sk-circle7 sk-child"></div>
    <div class="sk-circle8 sk-child"></div>
    <div class="sk-circle9 sk-child"></div>
    <div class="sk-circle10 sk-child"></div>
    <div class="sk-circle11 sk-child"></div>
    <div class="sk-circle12 sk-child"></div>
  </div>
</div>
