<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title %>
<% content_for :meta_description %>
<% content_for :meta_image %>

<%= render 'shared/navbar_show'%>

<div class="banner" style="background-image:url('<%= image_path('eatogether-home1.png') %>');">

  <div class="container-fluid" id="show-general">
    <div class="row">
      <div class="col-xs-6">
        <div class="row">
          <div class="restaurant-menu-left" id="menu_left" data-url="<%=params[:left_url]%>">
            <div class="col-xs-12">

            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="row">
          <div class="restaurant-menu-right" id="menu_right" data-url="<%=params[:right_url]%>">
            <div class="col-xs-12">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">

            <div class="col-xs-12">
              <h2 class="modal-thank text-center">Thank you for using EaTogether !</h2>
              <p class="modal-explaination text-center">At this early stage of our project, we are <strong>not yet affiliated with delivery services in your city</strong> so we are not quite able to order for you. Please have a recap of restaurants you picked so you can make your own order on the delivery's website. We will keep this tab open in case you need another look...</p>
            </div>

            <div class="col-xs-12">
              <div class="row"></div>
                <div class="col-xs-12">
                  <ul class="modal-follow list-inline text-center">
                    <li><h4>Follow us</h4></li>
                    <li class="social-link"><a href="<%=DEFAULT_META["twitter_page"]%>"><i class="fa fa-twitter"></i></a></li>
                    <li class="social-link"><a href="<%=DEFAULT_META["facebook_page"]%>"><i class="fa fa-facebook"></i></a></li>
                    <li class="social-link"><a href="<%=DEFAULT_META["instagram_page"]%>"><i class="fa fa-instagram"></i></a></li>
                    <li><h4>and share...</h4></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <h4 class="text-center" id="restaurant-recap"> Your are at the moment to order in these two restaurants ... </h4>
              </div>

              <div class="col-xs-6">
                <div class="modal-restaurant-summary text-center">
                  <h5 class="text-center" id="restaurant_name_left"></h5>
                  <h6>Cuisine : <p><%= params[:food_type_1]%></p></h6>
                  <h6>Trip Advisor ranking : <p id="ranking_left"></p></h6>

                  <div class="modal-call-action">
                    <%= link_to "Order", @url_left, target: "_blank", class: "navbar-wagon-item navbar-show-button btn" %>
                  </div>
                </div>
              </div>

              <div class="col-xs-6">
                <div class="modal-restaurant-summary text-center">
                  <h5 class="text-center" id="restaurant_name_right"></h5>
                  <h6>Cuisine : <p><%= params[:food_type_2]%></p></h6>
                  <h6>Trip Advisor ranking : <p id="ranking_right"></p></h6>

                  <div class="modal-call-action">
                    <%= link_to "Order", @url_right, target: "_blank", class: "navbar-wagon-item navbar-show-button btn" %>
                  </div>
                </div>
              </div>

              <p class="modal-contact text-center">Please, feel free to <a href="mailto:contact@eatogether.uk" id="modal-email-link">contact us</a> for any feedback about your experience on EaTogether and help us to improve it.</p>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


